<!-- Search form -->
<form
  class="form-inline d-flex justify-content-center md-form form-sm active-pink-2 mt-2"
  action="/search"
>
  <input
    class="form-control form-control-sm mr-3 w-75"
    type="text"
    placeholder="Search video games"
    name="keyword"
    aria-label="Search"
  />
  <button id="submit-btn" type="submit" class="btn btn-primary">
    <i class="fas fa-search" aria-hidden="true"></i>
  </button>

</form>

