<div class="d-inline">
  <a
    id="scroll-to-top"
    class="arrow arrow--fade-out fas fa-angle-double-up"
  ></a>
  <a
    id="scroll-to-next"
    class="arrow arrow--fade-out fas fa-angle-double-down"
  ></a>
</div>

