body {
  background: radial-gradient(
    circle,
    rgba(252, 70, 107, 1) 0%,
    rgba(63, 94, 251, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
main {
  max-width: 1920px;
}
h1,
h2,
.navbar-brand {
  font-family: "Press Start 2P", cursive;
  word-spacing: -15px;
}
h5 {
  font-weight: bold;
  font-size: 1.5em;
}
h6 {
  font-weight: 550;
}
form {
  margin: 0 auto;
}

#submit-btn {
  border-radius: 20px;
  background-color: #dbe45c;
  border: none;
  background: none;
  outline: none;
  transition: 0.2s ease-in-out;
}
#submit-btn:hover,
.thumb:hover {
  transform: scale(1.1);
}
.card {
  color: black;
  margin: 0 auto;

}

.modal {
  color: black;
}
#screenshots {
  width: 100%;
  height: auto;
  min-height: 150px;
  margin: 0 auto;
}
h6 {
  font-size: larger;
}
.card-bottom {
  padding: 5%;
}
.thumb-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: baseline;
  align-items: center;
  justify-content: space-between;
}
.thumb {
  font-size: 2em;
  cursor: pointer;
  color: black;
  font-weight: 100;
  transition: 0.2s ease-in-out;
}

.green {
  color: green;
}
.red {
  color: red;
}
.black {
  color: black;
}

@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 55em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 70em) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
